.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#temperature {
  font-size: 40px;
  color: rgb(41, 89, 162);
}

#wind-speed {
  font-size: 40px;
  color: rgb(41, 89, 162);
}

#humidity {
  font-size: 40px;
  color: rgb(41, 89, 162);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prompt {
  color: whitesmoke;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
}

.five-day {
  font-size: 20px;
  color: rgb(41, 89, 162);
  background: rgb(125, 181, 255);
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.current-weather {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto; 
  max-width: 600px; 
  padding: 20px; 
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #0b366f;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #b0b0b0;
  color: #f1f1f1;
}

.weather-app-heading{
  font-weight: bold;
  font-size: 80px;
}

p.error-message {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.five-day-header {
  font-size: 35px;
  color: rgb(28, 27, 75); 
  margin-bottom: 20px;
}

.forecast-container {
  margin-top: 200px; 
}